name: Windows

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        shell: bash
        run: |
          choco install swig wget
          wget https://developers.yubico.com/yubikey-personalization/Releases/ykpers-1.20.0-win64.zip -O ykpers-1.20.0-win64.zip
          7z x ykpers-1.20.0-win64.zip
          cp -f ./bin/*.dll .
          wget https://github.com/libusb/libusb/releases/download/v1.0.22/libusb-1.0.22.7z -O libusb-1.0.22.7z
          sha256sum -c ./.github/workflows/windows-libs.sha256sum
          7z x libusb-1.0.22.7z
          cp -f ./MS64/dll/*.dll .
          python -m pip install --upgrade pip
          pip install .

      - name: Run unit tests
        run: python setup.py test

      - name: Run CLI
        shell: bash
        run: |
          ykman --version
          [[ -z "$(ykman --version | grep -E "not found|missing")" ]]
